{% extends 'layout.html' %}		
{% block inner_body %}
		<h1>Calibration</h1>
                <div class="container">
                    <div class="row">
                        <div class="six columns">
                            <select class="u-full-width" id="tiltSelect">
                                {% for tilt in tilts %}
                                    <option value={{ tilt.color }}>{{ tilt.color }}</option>
                                {% endfor %}
                            </select>
                            </div>
                        <div class="six columns">
                            <button type="button" onclick="">Add a Tilt</button>		
                        </div>
                    </div>
                </div>
{% endblock %}
